*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header
{
    position: fixed;
    left: 0;right: 0;
    padding: 20px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(180, 39, 39);
    z-index: 5;
    box-shadow: 5px 1px 5px 1px black;
}
nav ul
{
    list-style: none;
    

}
nav ul li{
    position: relative;
    float: left;
   
    

}
nav ul li a
{
    padding: 15px 30px;
    display: block;
    font-size: 20px;
    font-weight: 500;
}
nav ul li:hover
{
    border-bottom: 5px solid white;
    
    color: white;
}
nav ul li ul
{
    position: absolute;
    width: 200%;
    left: 0;
    display: none;
    
}
nav ul li ul li
{
    width: 100%;    
    

}
nav ul li:hover>ul
{
    background-color: rgb(245, 229, 229);
    display: initial;
    border-radius: 5px;
    z-index: 1000;
    

}
img{
    mix-blend-mode: darken;

} 



h1
{
    position: absolute;
    top: 130px;
    left: 45%;
}

.container{
    padding-top: 150px;
    display: flex;
    padding-left: 50px;
    gap: 60px;
    background-color:rgba(115, 116, 109, 0.616);
    background-image: url("assignment1/image/chennai_background_logo.webp");
    background-repeat: no-repeat;
    background-size: cover;
    height: 200vh;
    width: 100%;
    align-items: center;
    background-position: center top;
    flex-wrap: wrap;
    z-index: 2;
    /* border: 3px solid black; */
    
}
.container ol
{
    display: flex;
    justify-content: space-around;

}

.card-box{
               
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px 10px black;
    /* border: 1px solid black; */
    
    
    
   
}



.card-box button
{
    width: 120px;
    height: 30px;
    /* border: 1px solid black; */
}
.container>div{
    height: 320px;
    width: 200px;
    background-color: rgb(229, 240, 250);
    border-radius: 10px;
    transition-duration:0.90s;
   
}

.container>div:hover{
    
    transform: scale(1.03);
   
    
}
.card-profile{
    text-align: center;
    z-index: 1;
    /* border: 1px solid black; */
}
.card-profile img{
    width: 100px;
    border-radius: 90px;
    margin-top: 40px;
    border: 1px solid black;
    
   
}

.card-about
{
    text-align: center;
    /* border: 1px solid black; */
    font-family: 'Libre Baskerville', serif;
    font-size: 14px;
}

a{
    text-decoration: none;
    color: rgb(255, 0, 0);
    /* border: 1px solid black; */
    
}

button{
    margin-top: 20px;
    font-size: 17px;
    border-radius: 20px;
    color: darkblue;
    border: 2px solid darkblue;
}

button:hover
{
    color: white;
    background-color: darkblue;
    cursor: pointer;
}
footer
{
    background-color: rgb(255, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    box-shadow: 10px 10px 10px 10px rgb(0, 0, 0);
}

.block
{
    text-transform: capitalize;
}
li
{
    color: grey;
}
.Header
{
    color: rgb(92, 87, 87);
    font-size: 20px;
}
a{
    color: rgb(189, 176, 176);
}
footer .social_media
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid red; */
    font-size: 40px;
    
}
footer .social_media .icon
{
    margin: 10px;
}
footer .block a:hover
{
    color: azure;
}